body{
  background-image: url('https://raw.githubusercontent.com/gustavoguanabara/html-css/master/desafios/modulo-02/d011/imagens/espaco.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

p{
  height: 450px;
  text-align: center;
}